In [1]:
import xarray as xr
import pandas as pd
import numpy as np

era5 = xr.open_dataset('era5/era5-14param-2022-2023.nc')
terra_2022 = xr.open_dataset('modis-datasets/g4.areaAvgTimeSeries.MOD08_D3_6_1_Deep_Blue_Aerosol_Optical_Depth_550_Land_Mean.20220101-20221231.51E_35N_52E_36N.nc')
terra_2023 = xr.open_dataset('modis-datasets/g4.areaAvgTimeSeries.MOD08_D3_6_1_Deep_Blue_Aerosol_Optical_Depth_550_Land_Mean.20230101-20231231.51E_35N_52E_36N.nc')
aqua_2022 = xr.open_dataset('modis-datasets/g4.areaAvgTimeSeries.MYD08_D3_6_1_Deep_Blue_Aerosol_Optical_Depth_550_Land_Mean.20220101-20221231.51E_35N_52E_36N.nc')
aqua_2023 = xr.open_dataset('modis-datasets/g4.areaAvgTimeSeries.MYD08_D3_6_1_Deep_Blue_Aerosol_Optical_Depth_550_Land_Mean.20230101-20231231.51E_35N_52E_36N.nc')
# print(era5)
# print(terra_2022)
era5['v10'].attrs

print(era5)

<xarray.Dataset> Size: 1MB
Dimensions:     (valid_time: 730, latitude: 5, longitude: 5)
Coordinates:
    number      int64 8B ...
  * valid_time  (valid_time) datetime64[ns] 6kB 2022-01-01T12:00:00 ... 2023-...
  * latitude    (latitude) float64 40B 36.0 35.75 35.5 35.25 35.0
  * longitude   (longitude) float64 40B 51.0 51.25 51.5 51.75 52.0
    expver      (valid_time) <U4 12kB ...
Data variables: (12/14)
    u10         (valid_time, latitude, longitude) float32 73kB ...
    v10         (valid_time, latitude, longitude) float32 73kB ...
    t2m         (valid_time, latitude, longitude) float32 73kB ...
    sp          (valid_time, latitude, longitude) float32 73kB ...
    tp          (valid_time, latitude, longitude) float32 73kB ...
    slhf        (valid_time, latitude, longitude) float32 73kB ...
    ...          ...
    lcc         (valid_time, latitude, longitude) float32 73kB ...
    tcc         (valid_time, latitude, longitude) float32 73kB ...
    blh         (valid_time, latitude, longitude) float32 73kB ...
    zust        (valid_time, latitude, longitude) float32 73kB ...
    tco3        (valid_time, latitude, longitude) float32 73kB ...
    tcwv        (valid_time, latitude, longitude) float32 73kB ...
Attributes:
    GRIB_centre:             ecmf
    GRIB_centreDescription:  European Centre for Medium-Range Weather Forecasts
    GRIB_subCentre:          0
    Conventions:             CF-1.7
    institution:             European Centre for Medium-Range Weather Forecasts
    history:                 2024-11-21T12:18 GRIB to CDM+CF via cfgrib-0.9.1...

In [3]:

#Calculate era5 average for the 1 sq degree area centered at lat,lon: 35.5,51.5
era5_avg = xr.Dataset(
    coords ={
        'latitude' : 35.5,
        'longitude' : 51.5
    }
)
# average over axis 1,2 : lat, lon
for var_name in era5.data_vars:
    var = era5[var_name]
    var_avg = var.mean(axis=(1,2))
    var_avg.attrs = var.attrs
    era5_avg[var_name] = var_avg

era5_avg.attrs = era5.attrs

era5_df = era5_avg.to_dataframe().reset_index()
#rename rime column to match the modis time column
era5_df = era5_df.rename(columns={'valid_time' : 'time'})
# era5_df
# era5_avg.to_netcdf('ds_teh.nc')
# print(era5_avg.data_vars)

# era5_df.describe()
# era5_df.isnull().sum()

# terra_2022_df = aqua_2022.to_dataframe()
# terra_2022_df.isnull().sum()
# print(era5.data_vars)

,time,latitude,longitude,number,expver,u10,v10,t2m,sp,tp,slhf,ssr,sshf,lcc,tcc,blh,zust,tco3,tcwv
0,2022-01-01 12:00:00,35.5,51.5,0,0001,0.749538,-0.311708,280.427216,85041.953125,5.722046e-08,-98175.562500,647493.1250,-90046.000000,0.073256,0.919266,712.452759,0.104983,0.007271,7.131459
1,2022-01-02 12:00:00,35.5,51.5,0,0001,0.996400,-0.314543,278.935852,84542.820312,3.623962e-07,-70759.000000,411202.5625,-61827.359375,0.075989,1.000000,563.448792,0.100197,0.006591,9.397189
2,2022-01-03 12:00:00,35.5,51.5,0,0001,2.014330,-1.727412,279.948517,84355.351562,3.368378e-05,-108161.203125,472069.1250,-88959.718750,0.152733,0.978844,810.993347,0.205585,0.006600,8.124803
3,2022-01-04 12:00:00,35.5,51.5,0,0001,2.856534,-0.477182,279.305115,84595.851562,0.000000e+00,-122457.562500,742952.9375,-134102.640625,0.000000,0.000000,816.333191,0.211879,0.006487,6.060751
4,2022-01-05 12:00:00,35.5,51.5,0,0001,2.842444,-3.421472,278.105804,84706.703125,5.443573e-05,-109191.242188,503104.0000,-117567.242188,0.081383,0.602828,1010.153931,0.305392,0.007472,6.495852
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,2023-12-27 12:00:00,35.5,51.5,0,0001,-1.629648,0.939960,286.432159,85788.101562,0.000000e+00,-48163.398438,782648.3125,-149070.875000,0.000000,0.000000,627.023193,0.163334,0.006590,6.488528
726,2023-12-28 12:00:00,35.5,51.5,0,0001,2.721153,-0.199427,285.039307,85151.289062,0.000000e+00,-37439.281250,635655.6875,-107209.203125,0.013120,0.658658,728.521545,0.206963,0.006877,10.876118
727,2023-12-29 12:00:00,35.5,51.5,0,0001,-1.207206,0.765978,284.498566,85697.007812,1.907349e-07,-40468.359375,783838.7500,-193018.796875,0.070240,0.075190,846.123962,0.154045,0.006637,6.630822
728,2023-12-30 12:00:00,35.5,51.5,0,0001,0.172719,0.924934,284.132599,85653.171875,0.000000e+00,-34256.558594,801395.1875,-175600.562500,0.003395,0.003395,619.571289,0.108738,0.006386,6.951330
729,2023-12-31 12:00:00,35.5,51.5,0,0001,1.235356,0.798059,284.561859,85336.710938,0.000000e+00,-31934.679688,820106.2500,-165749.718750,0.000000,0.000000,573.627686,0.115646,0.006543,6.326603

In [6]:
#merging the MODIS datasets

terra_2022_df = terra_2022[['time', 'MOD08_D3_6_1_Deep_Blue_Aerosol_Optical_Depth_550_Land_Mean']].to_dataframe().reset_index()
terra_2023_df = terra_2023[['time', 'MOD08_D3_6_1_Deep_Blue_Aerosol_Optical_Depth_550_Land_Mean']].to_dataframe().reset_index()
aqua_2022_df = aqua_2022[['time', 'MYD08_D3_6_1_Deep_Blue_Aerosol_Optical_Depth_550_Land_Mean']].to_dataframe().reset_index()
aqua_2023_df = aqua_2023[['time', 'MYD08_D3_6_1_Deep_Blue_Aerosol_Optical_Depth_550_Land_Mean']].to_dataframe().reset_index()

terra_df = pd.concat([terra_2022_df, terra_2023_df], ignore_index=True)
aqua_df = pd.concat([aqua_2022_df, aqua_2023_df], ignore_index=True)

terra_df = terra_df.rename(columns={'MOD08_D3_6_1_Deep_Blue_Aerosol_Optical_Depth_550_Land_Mean' : 'terra_aod'})
aqua_df = aqua_df.rename(columns={'MYD08_D3_6_1_Deep_Blue_Aerosol_Optical_Depth_550_Land_Mean' : 'aqua_aod'})

merged_modis_df = pd.merge(terra_df, aqua_df, on='time', how='outer')
merged_modis_df['aod'] = merged_modis_df.apply(
    lambda row: (row['terra_aod'] + row['aqua_aod']) / 2 if pd.notnull(row['terra_aod']) and pd.notnull(row['aqua_aod'])
    else row['terra_aod'] if pd.notnull(row['terra_aod'])
    else row['aqua_aod'] if pd.notnull(row['aqua_aod'])
    else np.nan,
    axis=1
)

#drop unneccessary columns
merged_modis_df = merged_modis_df.drop(columns=['terra_aod', 'aqua_aod'])

#adjust hours
merged_modis_df['time'] = merged_modis_df['time'] + pd.Timedelta(hours=12)
print(merged_modis_df)

                   time     aod
0   2022-01-01 12:00:00  0.1880
1   2022-01-02 12:00:00     NaN
2   2022-01-03 12:00:00  0.0940
3   2022-01-04 12:00:00  0.0535
4   2022-01-05 12:00:00  0.1835
..                  ...     ...
725 2023-12-27 12:00:00  0.0675
726 2023-12-28 12:00:00  0.0620
727 2023-12-29 12:00:00  0.1135
728 2023-12-30 12:00:00  0.1325
729 2023-12-31 12:00:00  0.1490

[730 rows x 2 columns]

In [7]:
final_df = pd.merge(era5_df, merged_modis_df, on='time', how='outer')
final_df
# final_df.isnull().describe()
# final_df.dropna().isnull().describe()
# final_df = final_df.dropna()
# final_df = final_df.drop
# final_df = final_df.drop(columns=['latitude', 'longitude', 'number', 'expver'])

,time,latitude,longitude,number,expver,u10,v10,t2m,sp,tp,slhf,ssr,sshf,lcc,tcc,blh,zust,tco3,tcwv,aod
0,2022-01-01 12:00:00,35.5,51.5,0,0001,0.749538,-0.311708,280.427216,85041.953125,5.722046e-08,-98175.562500,647493.1250,-90046.000000,0.073256,0.919266,712.452759,0.104983,0.007271,7.131459,0.1880
1,2022-01-02 12:00:00,35.5,51.5,0,0001,0.996400,-0.314543,278.935852,84542.820312,3.623962e-07,-70759.000000,411202.5625,-61827.359375,0.075989,1.000000,563.448792,0.100197,0.006591,9.397189,NaN
2,2022-01-03 12:00:00,35.5,51.5,0,0001,2.014330,-1.727412,279.948517,84355.351562,3.368378e-05,-108161.203125,472069.1250,-88959.718750,0.152733,0.978844,810.993347,0.205585,0.006600,8.124803,0.0940
3,2022-01-04 12:00:00,35.5,51.5,0,0001,2.856534,-0.477182,279.305115,84595.851562,0.000000e+00,-122457.562500,742952.9375,-134102.640625,0.000000,0.000000,816.333191,0.211879,0.006487,6.060751,0.0535
4,2022-01-05 12:00:00,35.5,51.5,0,0001,2.842444,-3.421472,278.105804,84706.703125,5.443573e-05,-109191.242188,503104.0000,-117567.242188,0.081383,0.602828,1010.153931,0.305392,0.007472,6.495852,0.1835
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,2023-12-27 12:00:00,35.5,51.5,0,0001,-1.629648,0.939960,286.432159,85788.101562,0.000000e+00,-48163.398438,782648.3125,-149070.875000,0.000000,0.000000,627.023193,0.163334,0.006590,6.488528,0.0675
726,2023-12-28 12:00:00,35.5,51.5,0,0001,2.721153,-0.199427,285.039307,85151.289062,0.000000e+00,-37439.281250,635655.6875,-107209.203125,0.013120,0.658658,728.521545,0.206963,0.006877,10.876118,0.0620
727,2023-12-29 12:00:00,35.5,51.5,0,0001,-1.207206,0.765978,284.498566,85697.007812,1.907349e-07,-40468.359375,783838.7500,-193018.796875,0.070240,0.075190,846.123962,0.154045,0.006637,6.630822,0.1135
728,2023-12-30 12:00:00,35.5,51.5,0,0001,0.172719,0.924934,284.132599,85653.171875,0.000000e+00,-34256.558594,801395.1875,-175600.562500,0.003395,0.003395,619.571289,0.108738,0.006386,6.951330,0.1325
729,2023-12-31 12:00:00,35.5,51.5,0,0001,1.235356,0.798059,284.561859,85336.710938,0.000000e+00,-31934.679688,820106.2500,-165749.718750,0.000000,0.000000,573.627686,0.115646,0.006543,6.326603,0.1490

In [14]:
# Convert back to xarray
# First, create a list of ERA5 variable names (excluding time/coordinates)
era5_vars = [var for var in era5.data_vars]

final_ds = xr.Dataset(
    {
        # First add ERA5 variables
        **{var: ('time', final_df[var]) for var in era5_vars},
        # Then add the combined AOD
        'aod': ('time', merged_modis_df['aod'])
    },
    coords={
        'time': merged_modis_df['time']
    },
    attrs={
        'description': 'Merged ERA5 and MODIS AOD dataset',
        'creation_date': pd.Timestamp.now().strftime('%Y-%m-%d'),
        'time_zone': 'UTC',
        'region': '51E-52E, 35N-36N',
        'aod_description': 'Combined Terra and Aqua MODIS AOD, averaged when both available'
    }
)

In [15]:
# print(final_df)
# print(final_df.drop(columns='cbh').dropna())

In [16]:
print(final_ds)

<xarray.Dataset> Size: 53kB
Dimensions:  (time: 730)
Coordinates:
  * time     (time) datetime64[ns] 6kB 2022-01-01T12:00:00 ... 2023-12-31T12:...
Data variables: (12/15)
    u10      (time) float32 3kB 0.7495 0.9964 2.014 ... -1.207 0.1727 1.235
    v10      (time) float32 3kB -0.3117 -0.3145 -1.727 ... 0.766 0.9249 0.7981
    t2m      (time) float32 3kB 280.4 278.9 279.9 279.3 ... 284.5 284.1 284.6
    sp       (time) float32 3kB 8.504e+04 8.454e+04 ... 8.565e+04 8.534e+04
    tp       (time) float32 3kB 5.722e-08 3.624e-07 3.368e-05 ... 0.0 0.0
    slhf     (time) float32 3kB -9.818e+04 -7.076e+04 ... -3.426e+04 -3.193e+04
    ...       ...
    tcc      (time) float32 3kB 0.9193 1.0 0.9788 0.0 ... 0.07519 0.003395 0.0
    blh      (time) float32 3kB 712.5 563.4 811.0 816.3 ... 846.1 619.6 573.6
    zust     (time) float32 3kB 0.105 0.1002 0.2056 ... 0.154 0.1087 0.1156
    tco3     (time) float32 3kB 0.007271 0.006591 0.0066 ... 0.006386 0.006543
    tcwv     (time) float32 3kB 7.131 9.397 8.125 6.061 ... 6.631 6.951 6.327
    aod      (time) float64 6kB 0.188 nan 0.094 0.0535 ... 0.1135 0.1325 0.149
Attributes:
    description:      Merged ERA5 and MODIS AOD dataset
    creation_date:    2024-11-23
    time_zone:        UTC
    region:           51E-52E, 35N-36N
    aod_description:  Combined Terra and Aqua MODIS AOD, averaged when both a...

In [17]:
final_ds.to_netcdf('final_merged_dataset.nc')

In [8]:
a = xr.open_dataset('final_merged_dataset.nc')

print(a.data_vars)

Data variables:
    u10      (time) float32 3kB ...
    v10      (time) float32 3kB ...
    t2m      (time) float32 3kB ...
    sp       (time) float32 3kB ...
    tp       (time) float32 3kB ...
    slhf     (time) float32 3kB ...
    ssr      (time) float32 3kB ...
    sshf     (time) float32 3kB ...
    lcc      (time) float32 3kB ...
    tcc      (time) float32 3kB ...
    blh      (time) float32 3kB ...
    zust     (time) float32 3kB ...
    tco3     (time) float32 3kB ...
    tcwv     (time) float32 3kB ...
    aod      (time) float64 6kB ...